<div class="container">
  <div class="about-welcome">
    <h1>welcome to booklify</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, incidunt numquam mollitia, minima maxime magnam corporis error eveniet officia explicabo accusamus. Distinctio soluta illo perspiciatis corrupti iste voluptatibus error? Incidunt voluptatem blanditiis, placeat dolorem culpa, ab numquam saepe sed aspernatur tempore officiis. Voluptates laboriosam, totam aliquam tempore mollitia praesentium voluptatibus! Omnis officia magni optio eius? Vitae officiis quisquam saepe nostrum recusandae ea nisi magni dolores natus possimus laboriosam perspiciatis optio labore, quis voluptatem quaerat! Pariatur quibusdam adipisci enim consequatur molestias nobis cupiditate laudantium facere odio dolorem voluptates vero nulla eius, ipsa accusamus eos ratione voluptatem accusantium tenetur? Aspernatur, saepe ea?</p>
  </div>
</div>