<div class="container">
  <mat-card>
  
    <form class="form" (submit)='admin($event)'>
      <mat-form-field>
        <input matInput placeholder="username" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="password" required>
      </mat-form-field>
      <br>
      <!-- <mat-form-field>
        <input matInput placeholder="admin" >
      </mat-form-field> -->
      <button class="btn" type="submit" mat-raised-button color="primary">Signup</button>
    </form>
  </mat-card>
</div>
