mat-card {
  margin-top: 10em;
  padding: 5em;
  background-color: #F4F4F4;
}

mat-form-field {
  width: 100%;
  /* padding: .5em; */
  /* margin-top: 5em; */
}

.btn {
  background-color: rgb(153, 216, 245);
  color: #000;
  padding: .5em 4em .5em 4em;
}